<div class="row">
	<div class="large-12 columns">
<h1> Entrar </h1>
<%= form_tag entrar_path do %>

<%= text_field_tag :apodo %>
<%= password_field_tag :password %>

<%= submit_tag 'Entrar' %>

<% end %>
	</div>
</div>