<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenidos al buzón de sugerencias Operador de servicios rio <%= @usuario.apodo %></h1>
    <p>
      Se ha registrado correctamente en el buzón de sugerencias de operador de servicios rio,
      su usuario es: <%= @usuario.apodo %>.<br/>
    </p>
  
  </body>
</html>