<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenidos a ss-logistics Blog, <%= @usuario.apodo %></h1>
    <p>
      Se ha registrado correctamente en el blog de www.ss-logistics.com,
      su usuario es: <%= @usuario.apodo %>.<br/>
    </p>
  
  </body>
</html>