<div class='row'>
	<div class='large-12 columns'>

<h1 align='center'>Buzón de sugerencias</h1>

<h4 align='center'>Regístrate para sugerir, felicitar o alguna queja. <%= link_to 'aqui', new_usuario_path %></h4>

    </div>

    </div>