<div class="row">
	<div class="large-12 columns">
		<p align="center">
Año <%= Time.now.year %> Aplicación desarrollada en Ss-Logistics software Open Source descarga desde <%= link_to 'aquí', 'https://github.com/Astr0surf3r/bloug' %>
<p>
</div>
</div>